<div class="page-content">
	<h1>Histórico</h1>
	<div class="box scroll">
		<table border="0" cellspacing="0" cellpadding="0" class="table">
			<tr>
				<th>Data</th>
				<th>Destino</th>
		
				<th>Status</th>
				<th></th>
			</tr>
			<tbody id="history">
				<tr class="zebra">
					<td>10/10/2011</td>
					<td>Shopping Center Eldorado Campo Grande - Avenida Afonso Pena,
					Campo Grande - Mato Grosso do Sul, Brazil</td>
					<td>Status</td>
					<td><a href="#" class="btn btn-small">Chamar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>