<div class="page-content">
<h1>Histórico</h1>
<div class="box scroll">
<table border="0" cellspacing="0" cellpadding="0" class="table">
	<tr>
		<th>Detalhes</th>
		<th></th>
	</tr>
	<tbody id="history">
		<tr class="super">
			<td class="center">
				<span class="date"></span><br />
				<strong class="dest"></strong><br />
				<span class="status"></span>
			</td>
			<td class="center">
				<a href="#/run/route" class="btn btn-small" onclick="window.localStorage.setItem('destination', $(this).attr('alt')); window.localStorage.setItem('city', $(this).attr('name'));">Chamar</a>				
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>