<input type="hidden" id="run_id" />
<div id="map-info">
    <div class="price">
        <h3>Bandeira 1</h3>
        <h2 id="normal_price"></h2>
    </div>
    <div class="distance">
        <div class="distance-border">
            <h3>Distância: <span id="distance"></span></h3>
        </div>
    </div>
    <div class="price">
        <h3>Bandeira 2</h3>
        <h2 id="special_price"></h2>
    </div>
    <div class="taxi-name">
        <h3 id="status_ok" style="display:none;" class="status ok">Táxi a caminho: <span id="cab"></span></h3>
        <h3 id="status_wait" style="display:none;" class="status wait">Aguarde, estamos chamando o seu táxi.</h3>
        <h3 id="status_error" style="display:none;" class="status error">Infelizmente nenhum táxi foi encontrado</h3>
        <h3 id="status_cancel" style="display:none;" class="status error">O seu táxi foi cancelado, por favor entre em contato com o taxista</h3>
    </div>
</div>
<script type="text/javascript">
	function refresh() {
		cab_controller.get_info($("#run_id").val());
		setTimeout(function() { refresh(); }, 20000);
	}
	$(document).ready(function() {
		refresh();
	});
</script>