<div id="map-info">
    <div class="price">
        <h3>Bandeira 1</h3>
        <h2 id="normal_price"></h2>
    </div>
    <div class="distance">
        <div class="distance-border">
            <h3>Distância: <span id="distance"></span></h3>
        </div>
    </div>
    <div class="price">
        <h3>Bandeira 2</h3>
        <h2 id="special_price"></h2>
    </div>
    <div class="taxi-name">
        <h3 id="status_ok" style="display:none;" class="ok">Táxi a caminho: <span>José da Silva - (67) 9987-0098</span></h3>
        <h3 id="status_wait" style="display:none;" class="wait">Aguarde, estamos chamando o seu táxi.</h3>
        <h3 id="status_error" style="display:none;" class="error">Infelizmente nenhum táxi foi encontrado</h3>
    </div>
</div>